<th:block th:fragment="menu_main">
  <nav class="header-menu">
    <ul class="layui-nav" lay-bar="disabled" lay-filter="" th:with="menuItems = ${menuFinder.getPrimary().menuItems}">
      <span th:each="menuItem : ${menuItems}">
        <li class="layui-nav-item"  th:if="${menuItem.children.size() == 0}">
          <a  th:href="@{${menuItem.status.href}}"
          th:text="${menuItem.displayName}"
          ></a>
        </li>
        <!-- 二级菜单 -->
        <li class="layui-nav-item"  th:if="${menuItem.children.size() > 0}">
          <a href="javascript:;" 
            th:text="${menuItem.displayName}"
            ></a>
          <dl class="layui-nav-child" th:with="items = ${menuItem.children}"> 
            <dd th:each="item : ${items}">
              <a th:href="@{${item.spec.href}}"
              th:text="${item.spec.displayName}"></a> 
            </dd>
          </dl>
        </li>
      </span>

    </ul>



  </nav>
  <div class="top_icon" style="display: flex;">
    <div class="top_icon_btn theme-switch d-none d-lg-flex" onclick="switchDarkMode()"><i
        class="bi bi-lightbulb-fill"></i></div>
    <div class="top_icon_btn collapsed" type="button" onclick="SearchWidget.open();"><i class="bi bi-search collapse-show"></i><i
        class="bi bi-x-circle collapse-hide"></i></div>
    <button class="top_icon_btn d-lg-none" type="button" data-bs-toggle="offcanvas"
      data-bs-target="#right-canvas"><i class="bi bi-list"></i></button>
  </div>
</th:block>
<th:block th:fragment="menu_right">
  <div class="offcanvas offcanvas-end" id="right-canvas" style="width: 80%;">
    <div class="sidebar_canvas">
      <div class="right-slide-header" style="justify-content: flex-end;">
        <button type="button" class="theme-switch" onclick="switchDarkMode()"><i
            style="font-size: 18px;margin-right: 20px;" class="bi bi-lightbulb-fill"></i></button>
        <button type="button" data-bs-dismiss="offcanvas" aria-label="Close"><i class="bi bi-x"></i></button>
      </div>
      <div class="sidebar_box" style="height: calc(100vh - 127px);">

        <div class="layui-tab layui-tab-brief">
          <ul class="layui-tab-title">
            <li class="layui-this">菜单</li>
            <li>归档</li>
          </ul>
          <div class="layui-tab-content " >
            <div class="layui-tab-item layui-show" th:with="menu = ${menuFinder.getPrimary()}">
              <div class="layui-collapse" th:with="menuItems = ${menu.menuItems}"  lay-accordion>
                <div th:each="menuItem : ${menuItems}">
                  <div class="layui-colla-item" th:if="${menuItem.children.size() == 0}">
                    <a th:href="@{${menuItem.status.href}}"
                    th:target="${menuItem.spec.target?.value}" >
                    <h2 class="siderNav-menu-item item-bg " th:text="${menuItem.status.displayName}">一级菜单（无子菜单）</h2>
                  </a>
                </div>
                <div class="layui-colla-item" th:if="${menuItem.children.size() > 0}">
                  <h2 class="layui-colla-title item-bg" th:text="${menuItem.status.displayName}">一级菜单（有子菜单）</h2>
                  <div class="layui-colla-content">
                    <ul class="siderNav-sub-menu" th:with="items = ${menuItem.children}">
                      <li th:each="item : ${items}">
                        <a class="menu-item"
                          th:href="@{${item.spec.href}}"
                          th:text="${item.spec.displayName}"
                        ></a>
                        </li>
                    </ul>
                  </div>
                </div>
                </div>
              </div>
              
            </div>

            <div class="layui-tab-item">
              <aside id="nav_menu-2" class="widget widget_nav_menu">
                <h3 class="widget-title">分类</h3>
                <div class="menu-category-container">
                  <ul class="menu" th:with="categories = ${categoryFinder.listAll()}">
                    <li th:each="category : ${categories}">
                      <a class="menu-item"
                        th:href="@{${category.status.permalink}}"
                        th:text="${category.spec.displayName}"
                      ></a>
                      </li>
                  </ul>
                </div>
              </aside>
      


            </div>
          </div>
        </div> 

      </div>
    </div>
  </div>
</th:block>
